<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirigir todo a index.html si el archivo no existe
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
