@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {

    width: 80vw;
    height: auto;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 150px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporción 16:9 (dividir 9 por 16 y multiplicar por 100) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carousel-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

@layer utilities {
  @keyframes gradientChange {
      0% {
          background-position: 0%
      }

      50% {
          background-position: 100%
      }

      100% {
          background-position: 0%
      }
  }

  .gradient {
      background: linear-gradient(90deg, blue, red);
      background-size: 200% 200%;
  }

  .element-to-rotate {
      animation: gradientChange 4s ease infinite;
  }
}


/* marcas slider */
.slider {
  background: #ffffff;
  height: 100px;
  width: 90%;
  overflow: hidden;
}

.slider .move {
  display: flex;
  width: calc(200px * 20);
  animation: animacion 50s linear infinite;
}

@keyframes animacion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}

.slider .box {
  height: 100px;
  width: 250px;
}

.img-marca{
  width: 80px;
  height: 70px;
}

